@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

html body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: "Open Sans", sans-serif;
  background-color: #2e2e2e;
  color: white;
}

.navbar {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.clickable {
  cursor: pointer;
}
.right{
  margin-left: 70rem;
}
.form-group{

  padding:0 300px 0 300px;
}.form-group-center{

  padding:0 0 0 500px;
}
.button-center{
  margin: 220px;
}
.icon {
  max-width: 100px;
  max-height: 40px;
  padding-right: 10px;
}
